@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: rgb(0, 0, 0);
}

.btn-hire {
  position: relative;
  z-index: 1;
}

.btn-hire::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* background: #000; */
  transition: all 0.3s ease;
}

.btn-hire:hover::after {
  top: 0;
  height: 100%;
}

.skills h2,
.contact h2,
.sub-head h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  letter-spacing: 3px;
  padding-bottom: 50px;
  text-transform: capitalize;
}

.contact,
.sub-head,
.skills {
  color: #a7a8a8;
  padding-top: 100px;
  padding-left: 70px;
}

.navB {
  height: 60px;
  width: 100%;
  position: relative;
}

.navB > .nav-header {
  display: inline;
}

.navB > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 30px 10px 10px 100px;
}

.navB > .nav-btn {
  display: none;
}

.navB > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-right: 50px;
  margin-top: 30px;
}

.navB > .nav-links > a {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  letter-spacing: 3px;
  color: #04eeee;
}

.navB > #nav-check {
  display: none;
}

#logo {
  width: 70px;
}

.header {
  padding-bottom: 160px;
}

.header-text {
  color: #a7a8a8;
  padding-top: 130px;
  padding-left: 100px;
}

.header-text h4 {
  font-size: 18x;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 3px;
}

.header-text h1 {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #ffffff;
  padding-top: 20px;
}
.header-text h1 span {
  color: #04eeee;
}

.header-text h2 {
  font-size: 25px;
  font-family: "Martel", serif;
  padding-top: 20px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

.header-text p {
  font-size: 15px;
  font-family: "Martel", serif;
  font-family: "Roboto Mono", monospace;
  margin-top: 10px;
}

.btn {
  background-color: #04eeee;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  padding: 7px 25px;
  border-radius: 50px;
  margin-top: 50px;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  color: white;
  outline: none;
  border: 1px solid #04eeee;
}

.btn-hire:hover::after {
  border-radius: 50px;
}

.header-img {
  position: relative;
  display: flex;
}

.bitmoji {
  width: 400px;
  padding-top: 60px;
}

.socials {
  position: fixed;
  right: 5%;
  top: 30%;
  display: flex;
  flex-direction: column;
}

.socials ion-icon {
  font-size: 25px;
  margin-bottom: 25px;
  color: #04eeee;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.socials ion-icon:hover {
  transform: translateX(5px);
}

.circle-1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(57, 255, 7);
  border-radius: 49% 61% 48% 50% / 17% 52% 51% 80%;
  bottom: 10%;
  right: 10%;
  animation: animate 60s linear infinite;
}

.circle-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(255, 98, 7);
  top: 350px;
  left: 40%;
  border-radius: 100% 0% 73% 0% / 100% 0% 100% 60%;
}

/* SKILLS */

.skills > div > div {
  padding-left: 70px;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 50px;
  grid-column-gap: 60px;
}

.skill-btn {
  position: relative;
  width: 250px;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  background-color: rgb(0, 0, 0);
  border: 1px solid grey;
  outline: none;
  color: #b3b3b3;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -3%;
  right: -3%;
  background-color: transparent;
  border: 1px solid rgba(255, 98, 7, 0.699);
  z-index: 1;
}

/* COLLAPSIBLE */

.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion {
  margin-bottom: 1em;
  padding: 0px 100px 0px 50px;
}

.accordion label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 900;
  display: block;
  color: #04eeee;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  border: 1px solid rgb(255, 98, 7);
}

.accordion > input[type="checkbox"]:checked ~ .content {
  font-family: "Roboto Mono", monospace;
  padding: 15px;
  border: 1px solid #414040;
  border-top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.content h4,
.content p {
  color: #b3b3b3;
}

.content button {
  border-bottom: 5px solid rgb(255, 98, 7);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 5px 8px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  outline: none !important;
}

.content a {
  color: #000;
}

.content img {
  width: 400px;
  height: 300px;
  box-shadow: 1px 1px 10px rgb(53, 52, 52);
}

.accordion .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.accordion .handle label:before {
  font-family: "fontawesome";
  content: "\f054";
  display: inline-block;
  margin-right: 10px;
  font-size: 0.58em;
  line-height: 1.556em;
  vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  content: "\f078";
}

.accordion p:last-child {
  margin-bottom: 0;
}

/* CONTACT */
.contact > div > div {
  padding: 0px 400px 0px 50px;
  display: flex;
  justify-content: space-between;
}

.contact h3 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #04eeee;
  padding-bottom: 0px;
}

.contact a {
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
  color: rgb(231, 229, 229);
}

.contact a:hover {
  color: rgb(163, 162, 162);
}

.phone {
  margin-top: 50px;
}

.down-btn {
  margin-top: 20px;
}

footer {
  border-top: 1px solid gray;
  padding: 20px 0px;
  text-align: center;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .header-text,
  .sub-head,
  .contact,
  .skills {
    padding-top: 40px;
    padding-left: 10px;
  }

  .navB > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navB > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navB > .nav-btn > label:hover,
  .navB #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navB > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .navB > .nav-btn > label > span:nth-child(1),
  .navB > .nav-btn > label > span:nth-child(3) {
    width: 20px;
  }

  .navB > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #09090f;
    text-align: center;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 99;
  }
  .navB > .nav-links > a {
    padding-top: 30px;
    display: block;
    width: 100%;
  }
  .navB > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .navB > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .skills > div > div {
    padding-left: 20px;
  }

  .skills > div > div {
    padding-left: 10px;
    grid-template-columns: 150px 150px;
    grid-gap: 30px;
    grid-column-gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .skill-btn {
    width: 100%;
    font-size: 16px;
    flex-direction: column;
  }

  .accordion > input[type="checkbox"]:checked ~ .content {
    flex-direction: column;
  }

  .accordion {
    padding: 0px 10px;
  }

  .content img {
    margin-top: 50px;
    width: 250px;
    height: 200px;
  }

  .contact > div > div {
    padding: 0px 0px 0px 20px;
    flex-direction: column;
  }

  .contact h3 {
    font-size: 15px;
  }

  .contact a {
    font-size: 19px;
  }

  .resume {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .navB > .nav-header > .nav-title {
    padding: 10px 10px 10px 10px;
  }

  #logo {
    width: 40px;
  }

  .contact h2,
  .sub-head h2,
  .skills h2 {
    font-size: 20px;
  }

  .header {
    padding-bottom: 70px;
  }

  .header-text h4,
  .header-text p {
    font-size: 15px;
  }

  .header-text h1 {
    font-size: 40px;
    padding-top: 10px;
  }

  .header-text h2 {
    font-size: 20px;
    padding-top: 10px;
  }

  .btn {
    font-size: 15px;
    padding: 7px 25px;
    margin-top: 40px;
  }

  .bitmoji {
    width: 250px;
    padding-top: 10px;
  }

  .socials {
    position: absolute;
    right: 30px;
    top: 120px;
  }

  .socials ion-icon {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .circle-1 {
    width: 30px;
    height: 30px;
    top: 550px;
    left: 10%;
  }

  .circle-2 {
    width: 30px;
    height: 30px;
    top: 350px;
    left: 220px;
  }
}
