@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: rgb(1, 21, 34);
}

.skills h2,
.contact h2,
.sub-head h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  letter-spacing: 3px;
  padding-bottom: 50px;
  text-transform: capitalize;
}

.contact,
.sub-head,
.skills {
  color: #a7a8a8;
  padding-top: 100px;
  padding-left: 70px;
}

.navB {
  height: 60px;
  width: 100%;
  position: relative;
}

.navB > .nav-header {
  display: inline;
}

.navB > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 30px 10px 10px 100px;
}

.navB > .nav-btn {
  display: none;
}

.navB > .nav-links {
  display: inline;
  float: right;
  font-size: 15px;
  margin-right: 50px;
  margin-top: 30px;
}

.navB > .nav-links > a {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  letter-spacing: 3px;
  color: #04eeee;
}

.navB > #nav-check {
  display: none;
}

#logo {
  width: 50px;
}

.header {
  padding-bottom: 160px;
}

.header-text {
  color: #a7a8a8;
  padding-top: 130px;
  padding-left: 100px;
}

.header-text h4 {
  font-size: 11px;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.header-text h1 {
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #ffffff;
  padding-top: 20px;
}
.header-text h1 span {
  color: #04eeee;
}

.header-text h2 {
  font-size: 22px;
  padding-top: 20px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

.header-text p {
  font-size: 14px;
  font-family: "Martel", serif;
  font-family: "Roboto Mono", monospace;
  margin-top: 10px;
}

.btn {
  background-color: #04eeee;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  padding: 7px 25px;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: white;
  background-color: #000;
  outline: none;
  border: 1px solid #04eeee;
}

.btn a {
  color: #000;
}

.btn a:hover {
  color: #a7a8a8;
}

.header-img {
  position: relative;
  display: flex;
}

.bitmoji {
  width: 350px;
  padding-top: 60px;
}

.socials {
  position: fixed;
  right: 5%;
  top: 30%;
  display: flex;
  flex-direction: column;
}

.socials ion-icon {
  font-size: 25px;
  margin-bottom: 25px;
  color: #d8dada;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.socials ion-icon:hover {
  transform: translateX(5px);
}

.circle-1 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(57, 255, 7);
  border-radius: 49% 61% 48% 50% / 17% 52% 51% 80%;
  bottom: 10%;
  right: 10%;
  animation: animate1 60s linear infinite;
}

.circle-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255, 98, 7);
  top: 350px;
  left: 40%;
  border-radius: 100% 0% 73% 0% / 100% 0% 100% 60%;
}

.circle-3 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(61, 62, 63);
  top: 80px;
  right: -0%;
  border-radius: 64% 36% 100% 0% / 94% 55% 45% 6%;
  animation: animate2 60s linear infinite;
}

/* SKILLS */

.skills > div > div {
  padding-left: 70px;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 50px;
  grid-column-gap: 60px;
}

.skill-btn {
  position: relative;
  width: 200px;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
  background-color: transparent;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 3px;
  outline: none;
  color: #b3b3b3;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -3%;
  right: -3%;
  background-color: transparent;
  border: 1px solid rgba(255, 98, 7, 0.822);
  border-radius: 3px;
  z-index: 1;
}

/* PROJECT ////////////////////////////// */
#projects > div {
  padding-left: 70px;
}

.project-card {
  border-radius: 5px;
  box-shadow: 1px 0px 4px 3px rgba(43, 41, 41, 0.87);
  -webkit-box-shadow: 1px 0px 4px 3px rgba(43, 41, 41, 0.87);
  -moz-box-shadow: 1px 0px 4px 3px rgba(43, 41, 41, 0.87);
}

.project-details {
  position: relative;
}

.project-details h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.project-details .tools {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.project-details .tools p {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 700;
  margin-right: 9px;
  background-color: rgb(1, 12, 19);
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 10px;
}

.project-details .site-link {
  color: #04eeee;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 13px;
  position: absolute;
  bottom: 0px;
  transition: all 0.9s ease-in-out;
}

.project-details .site-link:hover {
  border-bottom: 1px solid #04eeee;
}

.project-details .github-link {
  margin-top: 30px;
}

.project-details .github-link a {
  color: #04eeee;
  font-size: 13px;
  margin-top: 10px;
}

.spacing {
  margin-top: 100px;
}

/* CONTACT //////////////////////////////////////////// */
.contact > div > div {
  padding: 0px 400px 0px 50px;
  display: flex;
  justify-content: space-between;
}

.contact h3 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #04eeee;
  padding-bottom: 0px;
}

.contact a {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  color: rgb(231, 229, 229);
}

.contact a:hover {
  color: rgb(163, 162, 162);
}

.phone {
  margin-top: 50px;
}

.down-btn {
  margin-top: 20px;
}
.down-btn a {
  color: #000;
}

footer {
  border-top: 1px solid gray;
  padding: 20px 0px;
  text-align: center;
}

@keyframes animate1 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateX(-1000px) rotate(720deg);
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .header-text,
  .sub-head,
  .contact,
  .skills {
    padding-top: 40px;
    padding-left: 10px;
  }

  .navB > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navB > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navB > .nav-btn > label:hover,
  .navB #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navB > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .navB > .nav-btn > label > span:nth-child(1),
  .navB > .nav-btn > label > span:nth-child(3) {
    width: 20px;
  }

  .navB > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #09090f;
    text-align: center;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 99;
  }
  .navB > .nav-links > a {
    padding-top: 30px;
    display: block;
    width: 100%;
  }
  .navB > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .navB > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .skills {
    margin-top: 50px;
  }

  .skills > div > div {
    padding-left: 20px;
  }

  .skills > div > div {
    padding-left: 10px;
    grid-template-columns: 150px 150px;
    grid-gap: 30px;
    grid-column-gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .skill-btn {
    width: 100%;
    font-size: 16px;
    flex-direction: column;
  }

  .accordion > input[type="checkbox"]:checked ~ .content {
    flex-direction: column;
  }

  .accordion {
    padding: 0px 10px;
  }

  .content img {
    margin-top: 50px;
    width: 250px;
    height: 200px;
  }

  .contact > div > div {
    padding: 0px 0px 0px 20px;
    flex-direction: column;
  }

  .contact h3 {
    font-size: 15px;
  }

  .contact a {
    font-size: 19px;
  }

  .resume {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .navB > .nav-header > .nav-title {
    padding: 10px 10px 10px 10px;
  }

  #logo {
    width: 30px;
  }

  .contact h2,
  .sub-head h2,
  .skills h2 {
    font-size: 20px;
  }

  .header {
    padding-bottom: 70px;
  }

  .header-text h4,
  .header-text p {
    font-size: 15px;
  }

  .header-text h1 {
    font-size: 40px;
    padding-top: 10px;
  }

  .header-text h2 {
    font-size: 20px;
    padding-top: 10px;
  }

  .btn {
    font-size: 15px;
    padding: 7px 25px;
    margin-top: 40px;
  }

  .bitmoji {
    width: 250px;
    padding-top: 10px;
  }

  .socials {
    position: absolute;
    right: 30px;
    top: 120px;
  }

  .socials ion-icon {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .circle-1 {
    width: 30px;
    height: 30px;
    top: 550px;
    left: 10%;
  }

  .circle-2 {
    width: 30px;
    height: 30px;
    top: 350px;
    left: 300px;
  }
}
